{% extends "base.html" %}
{% load humanize %}

{% block cart %}

<h1>Корзина</h1>

{% if cart_items %}
<ul>
    {% for item in cart_items %}
    <li>
        {% if item.model_name == "snowboards" %}
        Сноуборд:
        {% elif item.model_name == "skis" %}
        Лыжи:
        {% elif item.model_name == "skateboards" %}
        Скейтборд:
        {% elif item.model_name == "longboards" %}
        Лонгборд:
        {% elif item.model_name == "surfings" %}
        Серфинг:
        {% elif item.model_name == "sups" %}
        САП:
        {% elif item.model_name == "clothes" %}
        Одежда:
        {% elif item.model_name == "shoes" %}
        Обувь:
        {% elif item.model_name == "accessories" %}
        Аксессуары:
        {% endif %}

        {{ item.item.title }} - {{ item.quantity }} шт. - {{ item.formatted_price }} руб.
                    <form method="post" action="{% url 'remove_from_cart' item.item_id %}">
                        {% csrf_token %}
                        <button type="submit">Удалить</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
        <p>Общая стоимость: {{ total_price }} руб.</p>
        <a href="#">Оформить заказ</a>
    {% else %}
        <p>Ваша корзина пуста.</p>
    {% endif %}
{% endblock %}