{% extends "base.html" %}
{% load static humanize %}

{% block title %} Ваши заказы {% endblock %}

{% block cart %}

<div class="cart_left_heaving_cart">Корзина</div>

{% if cart_items %}

<div class="cart">
    <div class="cart_left">

        <div class="cart_left_order">Оформление заказа</div>
        <div class="cart-items cart_left_items ">

            {% for item in cart_items %}
            {% if item.model_name == "snowboards" %}

            {% elif item.model_name == "skis" %}

            {% elif item.model_name == "skateboards" %}

            {% elif item.model_name == "longboards" %}

            {% elif item.model_name == "surfings" %}

            {% elif item.model_name == "sups" %}

            {% elif item.model_name == "clothes" %}

            {% elif item.model_name == "shoes" %}

            {% elif item.model_name == "accessories" %}

            {% endif %}


            <div class="cart_left_box">
                <div class="cart_left_box_img">
                    <img src="{{ item.item.img.url }}" class="cart_item_img">
                </div>
                <div class="cart_left_box_title">
                    {{ item.item.title }}
                </div>
                <div>
                    {{ item.quantity }} шт.
                </div>
                <div>
                    {{ item.formatted_price }} руб.
                </div>
                <div>
                    <form method="post" action="{% url 'remove_from_cart' item.item_id %}">
                        {% csrf_token %}
                        <button class="btn_remove" type="submit">Удалить</button>
                    </form>
                </div>

            </div>

            {% endfor %}
        </div>
        <div class="cart_left_delivery">
            <div class="cart_left_delivery_title">Пункт выдачи</div>
            <div class="cart_left_delivery_box">
                <div class="cart_left_delivery_box_point">
                    <p>Место доставки:</p>
                    <p>Пятерочка</p>
                    <p>Труда, 13А</p>
                </div>
                <div class="cart_left_delivery_box_data">
                    <p>Ориентировочная дата доставки:</p>
                    <p>{% now "d.m.Y" %}</p>
                    <p>Заказ хранится 7 дней</p>
                </div>
            </div>
        </div>
        <div class="cart_left_pay">
            <div class="cart_left_pay_heaving">Оплата</div>
            <div class="cart_left_pay_online">
                <div class="cart_left_pay_online_title">Информация о карте</div>
                <div class="cart_left_pay_online_box_pay">
                    <div class="cart_left_pay_online_img_cart">
                        <img src="{% static 'img/info_cart.jpg'%}" alt="{{ item.title }}" class="pay_online_img_cart">
                    </div>
                    <div class="cart_left_pay_online_info">
                        <form action="" method="post">
                            <div class="cart_left_pay_online_info_name">
                                <label for="">Имя</label>
                                <input type="text" class="cart_left_pay_online_info_name_input" placeholder="Ivanov Ivan">
                            </div>
                            <div class="cart_left_pay_online_info_name">
                                <label for="">Номер карты</label>
                                <input type="text" class="cart_left_pay_online_info_name_input" placeholder="0000 0000 0000 0000">
                            </div>
                            <div class="cart_left_pay_online_info_srok">
                                <div class="cart_left_pay_online_info_name">
                                    <label for="">Месяц и год</label>
                                    <input type="text" class="cart_left_pay_online_info_name_input_secret" placeholder="01.01.2027">
                                </div>
                                <div class="cart_left_pay_online_info_name">
                                    <label for="">Секретный код</label>
                                    <input type="text" class="cart_left_pay_online_info_name_input_secret" placeholder="000">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="cart_left_contact">
            <div class="cart_left_contact_heaving">Контакты</div>
            <div class="cart_left_contact_info">
                <form action="" method="post">
                    <div class="cart_left_contact_info_box">
                        <label for="">Имя</label>
                        <input type="text" placeholder="Введите ваше имя" class="cart_left_contact_info_input"/>
                    </div>
                    <div class="cart_left_contact_info_box">
                        <label for="">Фамилия</label>
                        <input type="text" placeholder="Введите ваше имя" class="cart_left_contact_info_input"/>
                    </div>
                    <div class="cart_left_contact_info_box">
                        <label for="">Телефон для SMS уведомлений</label>
                        <input type="text" placeholder="Введите ваше имя" class="cart_left_contact_info_input"/>
                    </div>
                    <div class="cart_left_contact_info_box">
                        <label for="">E-mail</label>
                        <input type="text" placeholder="Введите ваше имя" class="cart_left_contact_info_input"/>
                    </div>
                    <div class="cart_left_contact_info_btn">Подтвердить</div>
                </form>
            </div>
        </div>
    </div>

    <div class="cart_right">
        <div class="cart_right_order">Условия заказа</div>
        <div class="cart_right_itog">Итого:</div>
        <div class="cart_right_box_itog">
            <div class="cart_right_count_items cart-count">Общая стоимость:</div>
            <div class="cart_right_count_summa cart-total">{{ total_price }} руб.</div>
        </div>
        <div id="confirmButton" class="cart_right_place_order">Перейти к оформлению</div>
    </div>

</div>

<div class="modal-overlay" id="modalOverlay">
    <div class="modal-content">
        <span class="close-button" id="closeButton">&times;</span>
        <p>Ваш заказ принят!</p>
    </div>
</div>

{% else %}

<p>Ваша корзина пуста.</p>

{% endif %}

{% endblock %}