{% extends "catalog.html" %}
{% load static humanize %}

{% block title %} Boardriders - сеть магазинов товаров для экстремального спорта - сноуборд и скейтборд :
одежда, кеды и инвентарь Quiksilver, Roxy, DC, LibTech, GNU
{% endblock %}
{% block clothes %}

{% for item in items %}

<a href="{% url 'clothe' item.id %}">
    <div class="item_box">
        <div class="item_box_img">
            {% if item.img %}
            <img src="{{ item.img.url }}" alt="{{ item.title }}" class="box_img">
            {% else %}
            <p>Картинки еще не загружены</p>
            {% endif %}

            {% if item.price_discount %}
            <div class="item_box_discount">-{{ item.price_discount }}%</div>
            {% endif %}
        </div>

        <div class="item_box_info">
            <div class="item_box_info_title">{{ item.title }}</div>
            <div class="item_box_title">
                {% if item.price_discount %}
                <p class="item_box_info_old_price">
                    {{ item.formatted_price }} ₽
                </p>
                <p class="item_box_info_price">
                    <b>{{ item.formatted_discounted_price }} ₽</b>
                </p>
                {% else %}
                <p class="item_box_info_price_noSale">
                    <b>{{ item.formatted_price }} ₽</b>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</a>

{% endfor %}

{% endblock %}