{% extends "base.html" %}
{% load static humanize %}

{% block title %} Boardriders - сеть магазинов товаров для экстремального спорта - сноуборд и скейтборд :
одежда, кеды и инвентарь Quiksilver, Roxy, DC, LibTech, GNU
{% endblock %}
{% block skateboards %}

{% for date in skateboards %}

<a href="{% url 'skateboard' date.id %}">
    <div class="item_box">
        <div class="item_box_img">
            {% if date.img %}
            <img src="{{ date.img.url }}" alt="{{ date.title }}" class="box_img">
            {% else %}
            <p>Картинки еще не загружены</p>
            {% endif %}

            {% if date.price_discount %}
            <div class="item_box_discount">-{{ date.price_discount }}%</div>
            {% endif %}
        </div>

        <div class="item_box_info">
            <div class="item_box_info_title">{{ date.title }}</div>
            <div class="item_box_title">
                {% if date.price_discount %}
                <p class="item_box_info_old_price">
                    {{ date.formatted_price }} ₽
                </p>
                <p class="item_box_info_price">
                    <b>{{ date.formatted_discounted_price }} ₽</b>
                </p>
                {% else %}
                <p class="item_box_info_price_noSale">
                    <b>{{ date.formatted_price }} ₽</b>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</a>

{% endfor %}

{% endblock %}