{% extends "catalog.html" %}
{% load static humanize %}

{% block title %} {{ item.title }} {% endblock %}
{% block surfing %}

<div class="show">
    <div class="show_left_box">
        <div class="show_left_box_single_img">
            <img src="{{ item.img.url }}" alt="{{ item.title }}" class="box_img">
        </div>
        <div class="show_desc">
            <p class="show_desc_title">О товаре</p>
            <p class="show_desc_info">{{ item.description }}</p>
        </div>
        <div class="show_img_box">
            <div class="show_img_box_pic">
                {% if item.img_lots.url %}
                <img class="show_img box_img" src="{{ item.img_lots.url }}" alt="{{ item.title }}">
                {% else %}
                <span style="align-content: center"><b>Картинки еще не загружены</b></span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="show_right_box" data-product-id="{{ item.id }}" data-category-id="item">
        <div class="show_right_box_title">{{ item.title }}</div>
        <div class="show_right_box_price">
            {% if item.price_discount %}
            <p class="show_right_box_old_price">
                {{ item.formatted_price }} ₽
            </p>
            <p class="show_right_box_price_summa summa_item">
                <b>{{ item.formatted_discounted_price }} ₽</b>
            </p>
            {% else %}
            <p class="show_right_box_price_summa_noSale summa_item">
                <b>{{ item.formatted_price }} ₽</b>
            </p>
            {% endif %}
        </div>
        <div class="show_right_box_line"></div>
        <div class="show_right_box_color">Цвет: {{ item.color_id.title }}</div>
        <div class="show_right_box_brend">Брэнд: {{ item.brand_id.title }}</div>
        <div class="show_right_box_title_size">Размер: {{ item.size_id.title }}</div>
        <div class="show_right_box_line"></div>
        <div class="show_right_box_choisePay">
            <div class="show_right_box_choisePay_title">
                Варианты оплаты:
            </div>
            <div class="show_right_box_choisePay_box">
                <div class="show_right_box_choisePay_box_cart">
                    <img class="choisePay_box_cart_img" src="{% static 'img/card.svg' %}" alt="{{ item.title }}">
                </div>
                <div class="show_right_box_choisePay_box_desc">
                    Картой на сайте (Visa, Mastercard, МИР)<br>
                    Со скидкой -10%
                </div>
            </div>
            <div class="show_right_box_choisePay_box">
                <div class="show_right_box_choisePay_box_cart">
                    <img class="choisePay_box_cart_img" src="{% static 'img/paymant_cash.svg' %}"
                         alt="{{ item.title }}">
                </div>
                <div class="show_right_box_choisePay_box_desc">
                    Долями: 4 платежа без комиссий и процентов
                </div>
            </div>

        </div>
        <form method="post" action="{% url 'add_to_cart' 'surfings' item.pk %}">
            {% csrf_token %}
            <button type="submit" class="add-to-cart show_right_box_cart">Оформить заказ</button>
        </form>

    </div>
</div>

{% endblock %}